.css-16idsys p {
    font-size: 20px;
}

.st-bv {
    padding-right: 0px;
  }
  .st-bu {
    padding-left: 0px;
  }
  .st-bt {
    background-color: transparent;
  }
  .st-bs {
    background-color: transparent;
  }
  .st-br {
    background-color: transparent;
  }
  .st-bq {
    background-color: transparent;
  }
  .st-bp {
    background-color: transparent;
  }

  .st-bm {
    border-bottom-style: none;
  }
  .st-bl {
    border-top-style: none;
  }
  .st-bk {
    border-right-style: none;
  }
  .st-bj {
    border-left-style: none;
  }